@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$roboto: "Roboto";

* {
  font-family: $roboto;
  line-height: 24px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
